*{
    box-sizing: border-box;
    margin: 0;

}
html{
    font-size: 20px;
}

.containerM{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}
.title{
    font-size: 5rem;
    color: white;
    text-shadow: 0 0 30px rgb(48, 2, 255);
}
.num{
    color: rgb(255, 0, 0);
    text-shadow: 0 0 10px rgb(255, 0, 0);
    text-align:center
}
.tabla td{
    text-align: center;
    padding: 0 10px;
    color: white;
    font-size: 2rem;
}
.textp p{
    color: brown;
    display: block;
}
.grid-photos{
    width: 100%;
    background-color: rgb(11, 11, 11);
    position: absolute;
    top: 0;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

}
.contimg{
    background-color: rgb(0, 0, 0);
    margin: 0px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
    
    
}
@media (max-width: 600px) {
    html{
        font-size: 14px;

    }
    .grid-photos{
        grid-template-columns: 1fr 1fr 1fr 1fr ;
    
    }
}

@media (max-width: 450px) {
    html{
        font-size: 10px;
    }
}